<div class="sidebar-inner-container">
    <div class="sidebar-list-title">RSS Feeds</div>
    <ul id="sidebar-feed" class="sidebar-content">
        <li data-feed="electronic">Electronic</li>
        <li data-feed="book">BOOK</li>
    </ul>
</div>
